<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.management1.mapper.UserMapper">
    <select id="selectByName" resultType="com.school.management1.domain.User" parameterType="string">
        select * from user where u_name = #{u_name}
    </select>
    <select id="selectAllUser" resultType="com.school.management1.domain.User">
        select * from user
    </select>



</mapper>